[submodule ".vim/puppet-vim"]
	path = .vim/puppet-vim
	url = https://github.com/ajf/puppet-vim.git
[submodule ".vim/vim-puppet"]
	path = .vim/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
